# extract, transform, load

A compilation of country-level data relating to health statistics, health spending and water sanitation

By Laura Wensley

## Data Sources

The World Health Organization:
    Current health expenditure (CHE) as percentage of gross domestic product (GDP) (%)
    Data by country
    http://apps.who.int/gho/data/node.main.GHEDCHEGDPSHA2011
    Dataset: WHO_GDP_spend_on_Health.csv
        
The World Health Organization: 
    Basic and safely managed drinking water services  
    Data by country 
    http://apps.who.int/gho/data/node.main.WSHWATER?lang=en
    Dataset: WHO_Water_Sanitation.csv  
        
The World Health Organization:  
    Density of Medical Practitioners 
    Data by country  
    http://apps.who.int/gho/data/node.main.HWFGRP_0020?lang=en 
    Dataset: WHO_Medical_Practitioners.json 
    
The World Health Organization: 
    Health Infrastructure 
    Data by country  
    http://apps.who.int/gho/data/view.main.30000 
    Dataset: WHO_Health_Infrastrucure.json

## Set-up

In [70]:
import pandas as pd
from sqlalchemy import create_engine
import json
import numpy as np

## Extract CSV into DataFrames & Transform

### DATA SET 1: Health Spend as a % of GDP, by country, by year - csv

In [71]:
GDP_file = "WHO_GDP_spend_on_Health.csv"
GDP_df = pd.read_csv(GDP_file,skiprows=1)
GDP_df.head()

,Country,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,Afghanistan,10.3,9.7,8.8,7.9,8.6,8.6,9.8,10.3,9.9,10.6,9.9,9.8,8.9,9.4,No data,No data
1,Albania,6.8,7.0,6.3,5.9,5.6,5.0,5.1,5.6,6.1,5.9,6.3,6.6,6.4,6.4,6.5,6.8
2,Algeria,7.1,6.5,6.0,6.0,5.3,5.1,5.4,4.2,3.8,3.4,3.2,3.5,3.6,3.7,3.8,3.5
3,Andorra,12.0,12.0,14.2,12.1,11.8,11.6,10.9,10.4,9.8,9.7,9.8,9.2,9.2,9.4,9.4,9.3
4,Angola,2.9,2.8,3.0,2.7,2.8,2.7,3.6,3.5,3.2,3.6,4.0,5.0,4.7,4.2,5.2,2.5

In [72]:
# rename columns

# GDP_df.rename(columns={GDP_df.columns[0]:"country"}) --> DID NOT WORK

headers = GDP_df.columns.tolist()
headers[0]= "country"

# headers

GDP_df.columns = headers

In [73]:
GDP_name = pd.read_csv(GDP_file,nrows=0)
title = list(GDP_name)[1]
title

'Current health expenditure (CHE) as percentage of gross domestic product (GDP) (%)'

In [74]:
# Unpivot the dataframe from wide to long
GDP_df = pd.melt(GDP_df,id_vars=["country"], var_name="year")
GDP_df.head()

       country   year value
0  Afghanistan   2015  10.3
1      Albania   2015   6.8
2      Algeria   2015   7.1
3      Andorra   2015  12.0
4       Angola   2015   2.9

In [75]:
# add measurement columns
GDP_df["measurement"] = title

# reorder columns
GDP_df = GDP_df[['measurement', 'country', 'year', 'value']]

GDP_df.head()

                                         measurement      country   year value
0  Current health expenditure (CHE) as percentage...  Afghanistan   2015  10.3
1  Current health expenditure (CHE) as percentage...      Albania   2015   6.8
2  Current health expenditure (CHE) as percentage...      Algeria   2015   7.1
3  Current health expenditure (CHE) as percentage...      Andorra   2015  12.0
4  Current health expenditure (CHE) as percentage...       Angola   2015   2.9

### DATA SET 2: Water Sanitation, by Country - csv

#### DATA SCRUB: USING multi_index FUNCTION

https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.melt.html

https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html

In [76]:
# open file and read csv as Dataframe without a header

water_file = "WHO_Water_Sanitation.csv"
water_df = pd.read_csv(water_file,header = None)

water_df.head()

,0,1,2,3,4,5,6,7,8,9,...,87,88,89,90,91,92,93,94,95,96
0,NaN,2015,2015,2015,2015,2015,2015,2014,2014,2014,...,2001,2001,2001,2001,2000,2000,2000,2000,2000,2000
1,NaN,Population using at least basic drinking-wate...,Population using at least basic drinking-wate...,Population using at least basic drinking-wate...,Population using safely managed drinking-wate...,Population using safely managed drinking-wate...,Population using safely managed drinking-wate...,Population using at least basic drinking-wate...,Population using at least basic drinking-wate...,Population using at least basic drinking-wate...,...,Population using at least basic drinking-wate...,Population using safely managed drinking-wate...,Population using safely managed drinking-wate...,Population using safely managed drinking-wate...,Population using at least basic drinking-wate...,Population using at least basic drinking-wate...,Population using at least basic drinking-wate...,Population using safely managed drinking-wate...,Population using safely managed drinking-wate...,Population using safely managed drinking-wate...
2,Country,Rural,Urban,Total,Rural,Urban,Total,Rural,Urban,Total,...,Total,Rural,Urban,Total,Rural,Urban,Total,Rural,Urban,Total
3,Afghanistan,53,89,63,NaN,NaN,NaN,51,86,60,...,27,NaN,NaN,NaN,21,50,27,NaN,NaN,NaN
4,Albania,90,93,91,NaN,NaN,69,90,93,91,...,88,NaN,NaN,45,82,96,88,NaN,NaN,43

In [77]:
# Transpose rows 1 through 3 as a separate dataframe

index_df = water_df.iloc[:3,1:].T.rename(columns = {0:"year",1:"measurement",2:"type"})

index_df.head()

   year                                        measurement    type
1  2015   Population using at least basic drinking-wate...   Rural
2  2015   Population using at least basic drinking-wate...   Urban
3  2015   Population using at least basic drinking-wate...   Total
4  2015   Population using safely managed drinking-wate...   Rural
5  2015   Population using safely managed drinking-wate...   Urban

In [78]:
# Use this new dataframe to create a MultiIndex object of levels, codes and names

multi_index = pd.MultiIndex.from_frame(index_df)

#multi_index

In [79]:
# Clean original data frams (rename columns, remove unwanted rows and set index) 

water_df2 = water_df.iloc[3:].rename(columns = {0:"country"}).set_index("country")

In [80]:
# # inspect cleaned dataframe
# water_df2.head(2)

In [81]:
# Set the columns names using the MultiIndex object
water_df2.columns = multi_index

In [148]:
# # inspect dataframe with new columns

water_df2.head(2)

year             country  \
measurement
type
0            Afghanistan
1                Albania

year                                                                2015  \
measurement  Population using at least basic drinking-water services (%)
type                                                               Rural
0                                                           53
1                                                           90

year                       \
measurement
type         Urban  Total
0               89     63
1               93     91

year                                                                      \
measurement  Population using safely managed drinking-water services (%)
type                                                               Rural
0                                                          NaN
1                                                          NaN

year                       \
measurement
type         Urban  Total
0              NaN    NaN
1              NaN     69

year                                                                2014  \
measurement  Population using at least basic drinking-water services (%)
type                                                               Rural
0                                                           51
1                                                           90

year                       ...  \
measurement                ...
type         Urban  Total  ...
0               86     60  ...
1               93     91  ...

year                                                                2001  \
measurement  Population using at least basic drinking-water services (%)
type                                                               Total
0                                                           27
1                                                           88

year                                                                      \
measurement  Population using safely managed drinking-water services (%)
type                                                               Rural
0                                                          NaN
1                                                          NaN

year                       \
measurement
type         Urban  Total
0              NaN    NaN
1              NaN     45

year                                                                2000  \
measurement  Population using at least basic drinking-water services (%)
type                                                               Rural
0                                                           21
1                                                           82

year                       \
measurement
type         Urban  Total
0               50     27
1               96     88

year                                                                      \
measurement  Population using safely managed drinking-water services (%)
type                                                               Rural
0                                                          NaN
1                                                          NaN

year
measurement
type         Urban  Total
0              NaN    NaN
1              NaN     43

[2 rows x 97 columns]

In [149]:
# reset index
water_df2 = water_df2.reset_index()

In [84]:
# # inspect dataframe with new index
# water_df2.head(2)

In [85]:
# Unpivot the dataframe from wide to long
water_df = pd.melt(water_df2,id_vars=["country"])

# reorder columns
water_df = water_df[['measurement', 'country', 'year', 'value', 'type']]

water_df.head()

,measurement,country,year,value,type
0,Population using at least basic drinking-wate...,Afghanistan,2015,53,Rural
1,Population using at least basic drinking-wate...,Albania,2015,90,Rural
2,Population using at least basic drinking-wate...,Algeria,2015,89,Rural
3,Population using at least basic drinking-wate...,Andorra,2015,100,Rural
4,Population using at least basic drinking-wate...,Angola,2015,23,Rural

In [86]:
# Extract years

year_list = list(set(water_df.iloc[1:,1]))
year_list.sort()
year_list

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia (Plurinational State of)',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 "Côte d'Ivoire",
 "Democratic People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia (Federated States of)',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Republic of Korea',
 'Republic of Moldova',
 'Republic of North Macedonia',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Republic of Tanzania',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [87]:
# Extract demographic descriptions

type_list = list(set(water_df.iloc[1:,3]))
type_list

[nan,
 '38',
 '41',
 '90',
 '81',
 '0',
 '96',
 '74',
 '72',
 '1',
 '32',
 '52',
 '26',
 '17',
 '51',
 '62',
 '12',
 '84',
 '39',
 '45',
 '56',
 '78',
 '4',
 '86',
 '15',
 '28',
 '16',
 '43',
 '30',
 '25',
 '76',
 '33',
 '70',
 '42',
 '37',
 '24',
 '29',
 '77',
 '47',
 '98',
 '23',
 '7',
 '97',
 '19',
 '22',
 '100',
 '55',
 '35',
 '87',
 '27',
 '5',
 '44',
 '88',
 '67',
 '99',
 '8',
 '66',
 '73',
 '21',
 '13',
 '65',
 '71',
 '2',
 '50',
 '48',
 '60',
 '9',
 '64',
 '92',
 '89',
 '94',
 '11',
 '82',
 '40',
 '3',
 '75',
 '59',
 '95',
 '20',
 '31',
 '49',
 '93',
 '46',
 '91',
 '10',
 '80',
 '69',
 '79',
 '58',
 '54',
 '57',
 '14',
 '18',
 '85',
 '63',
 '53',
 '61',
 '83',
 '34',
 '6',
 '68',
 '36']

In [88]:
# Extract measurement descriptions

meas_list = list(set(water_df.iloc[1:,2]))
meas_list

['2004',
 '2013',
 '2006',
 '2008',
 '2002',
 '2011',
 '2010',
 '2015',
 '2007',
 '2014',
 '2003',
 '2001',
 '2000',
 '2009',
 '2012',
 '2005']

### DATA SET 3: Medical Practitioners Data - JSON

https://apps.who.int/gho/athena/data/GHO/HWF_0001,HWF_0002,HWF_0003,HWF_0004,HWF_0005.json?filter=COUNTRY:*

In [89]:
# convert the jason file to a python dictionary

med_file = "WHO_Medical_Practitioners.json"
with open(med_file,"r") as f:
    who_json = json.load(f)

#### Fact Dataframe

In [90]:
# create a data frame from a dictionary from within the python dictionary

fact_df = pd.DataFrame(who_json["fact"])

fact_df.head()

,Dim,comments,dataset,effective_date,end_date,fact_id,published,value
0,"[{'category': 'PUBLISHSTATE', 'code': 'PUBLISH...",Includes Specialist Medical Practitioners </br...,CYCU,2019-01-15,2900-12-31,20572456,True,"{'display': '293', 'numeric': 293.0, 'low': No..."
1,"[{'category': 'PUBLISHSTATE', 'code': 'PUBLISH...",Includes Generalist Medical Practitioners </br...,CYCU,2019-01-15,2900-12-31,20572206,True,"{'display': '1114', 'numeric': 1114.0, 'low': ..."
2,"[{'category': 'PUBLISHSTATE', 'code': 'PUBLISH...",Includes Médecin spécialiste</br> Data Source:...,CYCU,2019-01-15,2900-12-31,20572170,True,"{'display': '422', 'numeric': 422.0, 'low': No..."
3,"[{'category': 'PUBLISHSTATE', 'code': 'PUBLISH...",Includes General Medical Practitioners</br> Da...,CYCU,2019-01-15,2900-12-31,20572086,True,"{'display': '17237', 'numeric': 17237.0, 'low'..."
4,"[{'category': 'PUBLISHSTATE', 'code': 'PUBLISH...",Includes Generalist Medical Practitioners </br...,CYCU,2019-01-15,2900-12-31,20572013,True,"{'display': '7920', 'numeric': 7920.0, 'low': ..."

https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.at.html

In [91]:
# append the items in the dictionaries from the "Dim" column into columns in the "fact" dictionary

fact_df["year"] = np.nan
fact_df["published_state"] = ""
fact_df["country"] = ""
fact_df["GHO"] = ""

for index,row in fact_df.iterrows():
    dims = row["Dim"]
    for dictionary in dims:
        if dictionary["category"] == "PUBLISHSTATE":
            fact_df.at[index,"published_state"] = dictionary["code"]
        elif dictionary["category"] == "YEAR":
            fact_df.at[index,"year"] = dictionary["code"]
        elif dictionary["category"] == "COUNTRY":
            fact_df.at[index,"country"] = dictionary["code"]
        elif dictionary["category"] == "GHO":
            fact_df.at[index,"GHO"] = dictionary["code"]

fact_df.head(2)

,Dim,comments,dataset,effective_date,end_date,fact_id,published,value,year,published_state,country,GHO
0,"[{'category': 'PUBLISHSTATE', 'code': 'PUBLISH...",Includes Specialist Medical Practitioners </br...,CYCU,2019-01-15,2900-12-31,20572456,True,"{'display': '293', 'numeric': 293.0, 'low': No...",2013.0,PUBLISHED,JAM,HWF_0004
1,"[{'category': 'PUBLISHSTATE', 'code': 'PUBLISH...",Includes Generalist Medical Practitioners </br...,CYCU,2019-01-15,2900-12-31,20572206,True,"{'display': '1114', 'numeric': 1114.0, 'low': ...",2017.0,PUBLISHED,RWA,HWF_0003

In [92]:
# append the items in the list from the "value" column into columns in the "fact" dictionary

fact_df["display"] = np.nan
fact_df["numeric"] = np.nan
fact_df["low"] = np.nan
fact_df["high"] = np.nan
fact_df["stderr"] = np.nan
fact_df["stddev"] = np.nan

for index,row in fact_df.iterrows():
    value = row["value"]
    for x in ["display","numeric","low","high","stderr","stddev"]:
        fact_df.at[index,x] = value[x]

fact_df.head(2)

,Dim,comments,dataset,effective_date,end_date,fact_id,published,value,year,published_state,country,GHO,display,numeric,low,high,stderr,stddev
0,"[{'category': 'PUBLISHSTATE', 'code': 'PUBLISH...",Includes Specialist Medical Practitioners </br...,CYCU,2019-01-15,2900-12-31,20572456,True,"{'display': '293', 'numeric': 293.0, 'low': No...",2013.0,PUBLISHED,JAM,HWF_0004,293.0,293.0,NaN,NaN,NaN,NaN
1,"[{'category': 'PUBLISHSTATE', 'code': 'PUBLISH...",Includes Generalist Medical Practitioners </br...,CYCU,2019-01-15,2900-12-31,20572206,True,"{'display': '1114', 'numeric': 1114.0, 'low': ...",2017.0,PUBLISHED,RWA,HWF_0003,1114.0,1114.0,NaN,NaN,NaN,NaN

In [93]:
# Drop columns with dictionaries that we have now converted to columns within the dataframe

fact_df = fact_df.drop(["Dim","value"], axis=1)

# rename columns
fact_df = fact_df.rename(columns={"country":"country_id"})
fact_df = fact_df.rename(columns={"display":"value"})

fact_df.head(2)

,comments,dataset,effective_date,end_date,fact_id,published,year,published_state,country_id,GHO,value,numeric,low,high,stderr,stddev
0,Includes Specialist Medical Practitioners </br...,CYCU,2019-01-15,2900-12-31,20572456,True,2013.0,PUBLISHED,JAM,HWF_0004,293.0,293.0,NaN,NaN,NaN,NaN
1,Includes Generalist Medical Practitioners </br...,CYCU,2019-01-15,2900-12-31,20572206,True,2017.0,PUBLISHED,RWA,HWF_0003,1114.0,1114.0,NaN,NaN,NaN,NaN

#### Dimentional Dataframes

In [94]:
# create a data frame from a dictionary from within the python dictionary

dim_df = pd.DataFrame(who_json["dimension"])
dim_df

,code,display,isMeasure,label
0,"[{'label': 'HWF_0001', 'display': 'Medical doc...",Indicator,True,GHO
1,"[{'label': 'PUBLISHED', 'display': 'Published'...",PUBLISH STATES,False,PUBLISHSTATE
2,"[{'label': '1952', 'display': '1952', 'display...",Year,False,YEAR
3,"[{'label': 'AFG', 'display': 'Afghanistan', 'd...",Country,False,COUNTRY

#### Dimentional Dataframes: GHO

In [95]:
# create a data frame from a dictionary from within the python dictionary

GHO_df = pd.DataFrame(dim_df["code"][0])
GHO_df

,attr,display,display_sequence,label,url
0,"[{'category': 'CATEGORY', 'value': 'Health wor...",Medical doctors (per 10 000 population),10,HWF_0001,http://apps.who.int/gho/data/node.wrapper.imr?...
1,"[{'category': 'CATEGORY', 'value': 'Health wor...",Medical doctors (number),20,HWF_0002,http://apps.who.int/gho/data/node.wrapper.imr?...
2,"[{'category': 'CATEGORY', 'value': 'Health wor...",Generalist medical practitioners (number),30,HWF_0003,http://apps.who.int/gho/data/node.wrapper.imr?...
3,"[{'category': 'CATEGORY', 'value': 'Health wor...",Specialist medical practitioners (number),40,HWF_0004,http://apps.who.int/gho/data/node.wrapper.imr?...
4,"[{'category': 'CATEGORY', 'value': 'Health wor...",Medical doctors not further defined (number),50,HWF_0005,http://apps.who.int/gho/data/node.wrapper.imr?...

In [96]:
# attr_df = pd.DataFrame(GHO_df["attr"][0])
# attr_df

In [97]:
# append the items in the dictionary from the "attr" column into columns in the "GHO" dataframe

GHO_df["category"] = ""
GHO_df["value"] = ""

for index,row in GHO_df.iterrows():
    attribute = row["attr"]
    for x in ["category","value"]:
        GHO_df.at[index,x] = attribute[0][x]

In [98]:
# Drop columns with dictionaries that we have now converted to columns within the dataframe
GHO_df = GHO_df.drop(["attr", "category"], axis=1)

In [99]:
# rename columns
GHO_df = GHO_df.rename(columns={"display":"measurement"})
GHO_df = GHO_df.rename(columns={"label":"GHO"})
GHO_df = GHO_df.rename(columns={"value":"category"})
GHO_df

,measurement,display_sequence,GHO,url,category
0,Medical doctors (per 10 000 population),10,HWF_0001,http://apps.who.int/gho/data/node.wrapper.imr?...,Health workforce
1,Medical doctors (number),20,HWF_0002,http://apps.who.int/gho/data/node.wrapper.imr?...,Health workforce
2,Generalist medical practitioners (number),30,HWF_0003,http://apps.who.int/gho/data/node.wrapper.imr?...,Health workforce
3,Specialist medical practitioners (number),40,HWF_0004,http://apps.who.int/gho/data/node.wrapper.imr?...,Health workforce
4,Medical doctors not further defined (number),50,HWF_0005,http://apps.who.int/gho/data/node.wrapper.imr?...,Health workforce

#### Dimentional Dataframes:  PUBLISHSTATE

In [100]:
# create a data frame from a dictionary from within the python dictionary

PUBLISHSTATE_df = pd.DataFrame(dim_df["code"][1])
PUBLISHSTATE_df.head()

  attr    display  display_sequence      label url
0   []  Published                 0  PUBLISHED

#### Dimentional Dataframes:  YEAR

In [101]:
# create a data frame from a dictionary from within the python dictionary

YEAR_df = pd.DataFrame(dim_df["code"][2])
YEAR_df.head()

  attr display  display_sequence label url
0   []    1952          80478048  1952
1   []    1953          80468047  1953
2   []    1954          80458046  1954
3   []    1955          80448045  1955
4   []    1956          80438044  1956

#### Dimentional Dataframes:  COUNTRY

In [102]:
# create a data frame from a dictionary from within the python dictionary

COUNTRY_df = pd.DataFrame(dim_df["code"][3])
COUNTRY_df.head()

,attr,display,display_sequence,label,url
0,[{'category': 'WORLD_BANK_INCOME_GROUP_GNI_REF...,Afghanistan,10,AFG,
1,[{'category': 'WORLD_BANK_INCOME_GROUP_GNI_REF...,Albania,20,ALB,
2,[{'category': 'WORLD_BANK_INCOME_GROUP_GNI_REF...,Algeria,30,DZA,
3,[{'category': 'WORLD_BANK_INCOME_GROUP_GNI_REF...,Andorra,40,AND,
4,[{'category': 'WORLD_BANK_INCOME_GROUP_GNI_REF...,Angola,50,AGO,

In [103]:
# inspect single attribute dictionary

attr_df = pd.DataFrame(COUNTRY_df["attr"][0])
#attr_df

In [104]:
# create list of unique country attributes

category_list_of_lists = []

for i in range(len(COUNTRY_df)):
    attr_df = pd.DataFrame(COUNTRY_df["attr"][i])
    category_list_0 = attr_df["category"].tolist()
    category_list_of_lists.append(category_list_0)
    
category_list = []

for x in category_list_of_lists:
    for item in x:
        category_list.append(item)

category_list = set(category_list)

category_list = list(category_list)

category_list.sort()
#category_list

In [105]:
# # Floats are:
# 'WORLD_BANK_INCOME_GROUP_GNI_REFERENCE_YEAR
# 'WORLD_BANK_INCOME_GROUP_RELEASE_DATE'

In [106]:
# append the items in the dictionary from the "attr" column into columns in the "Country" dataframe

COUNTRY_df[category_list] = pd.DataFrame([["","","","","","","","","","","","","","","","","","","","",np.nan,np.nan,]], index=COUNTRY_df.index)

for index,row in COUNTRY_df.iterrows():
    attribute = row["attr"]
    for dictionary in attribute:
        for x in dictionary:
            for i in range(len(category_list)):
                if dictionary["category"] == category_list[i]:
                     COUNTRY_df.at[index,category_list[i]] = dictionary["value"]

In [107]:
# Drop columns with dictionaries that we have now converted to columns within the dataframe
COUNTRY_df = COUNTRY_df.drop(["attr"], axis=1)

In [108]:
# rename columns
COUNTRY_df = COUNTRY_df.rename(columns={"label":"country_id"})

In [109]:
# rename columns

headers = COUNTRY_df.columns.tolist()
headers[0]= "country"

# headers

COUNTRY_df.columns = headers

In [110]:
COUNTRY_df

,country,display_sequence,country_id,url,DS,FIPS,GEOMETRY,IOC,ISO,ISO2,...,SHORTNAMEFR,WHO,WHOLEGALSTATUS,WHO_REGION,WHO_REGION_CODE,WMO,WORLD_BANK_INCOME_GROUP,WORLD_BANK_INCOME_GROUP_CODE,WORLD_BANK_INCOME_GROUP_GNI_REFERENCE_YEAR,WORLD_BANK_INCOME_GROUP_RELEASE_DATE
0,Afghanistan,10,AFG,,AFG,AF,AFG,AFG,AFG,AF,...,Afghanistan,AFG,M,Eastern Mediterranean,EMR,AF,Low income,WB_LI,2017.0,2018.0
1,Albania,20,ALB,,AL,AL,ALB,ALB,ALB,AL,...,Albanie,ALB,M,Europe,EUR,AB,Upper middle income,WB_UMI,2017.0,2018.0
2,Algeria,30,DZA,,DZ,AG,DZA,ALG,DZA,DZ,...,Algérie,ALG,M,Africa,AFR,AL,Upper middle income,WB_UMI,2017.0,2018.0
3,Andorra,40,AND,,AND,AN,AND,AND,AND,AD,...,Andorre,AND,M,Europe,EUR,,High income,WB_HI,2017.0,2018.0
4,Angola,50,AGO,,,AO,AGO,ANG,AGO,AO,...,Angola,ANG,M,Africa,AFR,AN,Lower middle income,WB_LMI,2017.0,2018.0
5,Antigua and Barbuda,60,ATG,,,AC,ATG,ANT,ATG,AG,...,Antigua-et-Barbuda,ANI,M,Americas,AMR,AT,High income,WB_HI,2017.0,2018.0
6,Argentina,70,ARG,,RA,AR,ARG,ARG,ARG,AR,...,Argentine,ARG,M,Americas,AMR,AG,High income,WB_HI,2017.0,2018.0
7,Armenia,80,ARM,,AM,AM,ARM,ARM,ARM,AM,...,Arménie,ARM,M,Europe,EUR,AY,Upper middle income,WB_UMI,2017.0,2018.0
8,Australia,90,AUS,,AUS,AS,AUS,AUS,AUS,AU,...,Australie,AUS,M,Western Pacific,WPR,AU,High income,WB_HI,2017.0,2018.0
9,Austria,100,AUT,,A,AU,AUT,AUT,AUT,AT,...,Autriche,AUT,M,Europe,EUR,OS,High income,WB_HI,2017.0,2018.0
10,Azerbaijan,110,AZE,,AZ,AJ,AZE,AZE,AZE,AZ,...,Azerbaïdjan,AZE,M,Europe,EUR,AJ,Upper middle income,WB_UMI,2017.0,2018.0
11,Bahamas,120,BHS,,BS,BF,BHS,BAH,BHS,BS,...,Bahamas,BAH,M,Americas,AMR,BA,High income,WB_HI,2017.0,2018.0
12,Bahrain,130,BHR,,BRN,BA,BHR,BRN,BHR,BH,...,Bahreïn,BAA,M,Eastern Mediterranean,EMR,BN,High income,WB_HI,2017.0,2018.0
13,Bangladesh,140,BGD,,BD,BG,BGD,BAN,BGD,BD,...,Bangladesh,BAN,M,South-East Asia,SEAR,BW,Lower middle income,WB_LMI,2017.0,2018.0
14,Barbados,150,BRB,,BDS,BB,BRB,BAR,BRB,BB,...,Barbade,BAR,M,Americas,AMR,BR,High income,WB_HI,2017.0,2018.0
15,Belarus,160,BLR,,BY,BO,BLR,BLR,BLR,BY,...,Bélarus,BLR,M,Europe,EUR,BY,Upper middle income,WB_UMI,2017.0,2018.0
16,Belgium,170,BEL,,B,BE,BEL,BEL,BEL,BE,...,Belgique,BEL,M,Europe,EUR,BX,High income,WB_HI,2017.0,2018.0
17,Belize,180,BLZ,,BZ,BH,BLZ,BIZ,BLZ,BZ,...,Belize,BLZ,M,Americas,AMR,BH,Upper middle income,WB_UMI,2017.0,2018.0
18,Benin,190,BEN,,DY,BN,BEN,BEN,BEN,BJ,...,Bénin,BEN,M,Africa,AFR,BJ,Low income,WB_LI,2017.0,2018.0
19,Bhutan,200,BTN,,,BT,BTN,BHU,BTN,BT,...,Bhoutan,BHU,M,South-East Asia,SEAR,,Lower middle income,WB_LMI,2017.0,2018.0
20,Bolivia (Plurinational State of),210,BOL,,BOL,BL,BOL,BOL,BOL,BO,...,Bolivie (État plurinational de),BOL,M,Americas,AMR,BO,Lower middle income,WB_LMI,2017.0,2018.0
21,Bosnia and Herzegovina,220,BIH,,BIH,BK,BIH,BIH,BIH,BA,...,Bosnie-Herzégovine,BIH,M,Europe,EUR,BG,Upper middle income,WB_UMI,2017.0,2018.0
22,Botswana,230,BWA,,BW,BC,BWA,BOT,BWA,BW,...,Botswana,BOT,M,Africa,AFR,BC,Upper middle income,WB_UMI,2017.0,2018.0
23,Brazil,240,BRA,,BR,BR,BRA,BRA,BRA,BR,...,Brésil,BRA,M,Americas,AMR,BZ,Upper middle income,WB_UMI,2017.0,2018.0
24,Brunei Darussalam,250,BRN,,BRU,BX,BRN,BRU,BRN,BN,...,Brunéi Darussalam,BRU,M,Western Pacific,WPR,BD,High income,WB_HI,2017.0,2018.0
25,Bulgaria,260,BGR,,BG,BU,BGR,BUL,BGR,BG,...,Bulgarie,BUL,M,Europe,EUR,BU,Upper middle income,WB_UMI,2017.0,2018.0
26,Burkina Faso,270,BFA,,BF,UV,BFA,BUR,BFA,BF,...,Burkina Faso,BFA,M,Africa,AFR,HV,Low income,WB_LI,2017.0,2018.0
27,Burundi,280,BDI,,RU,BY,BDI,BDI,BDI,BI,...,Burundi,BUU,M,Africa,AFR,BI,Low income,WB_LI,2017.0,2018.0
28,Cambodia,310,KHM,,K,CB,KHM,CAM,KHM,KH,...,Cambodge,CAM,M,Western Pacific,WPR,KP,Lower middle income,WB_LMI,2017.0,2018.0
29,Cameroon,320,CMR,,CAM,CM,CMR,CMR,CMR,CM,...,Cameroun,CAE,M,Africa,AFR,CM,Lower middle income,WB_LMI,2017.0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,Eswatini,585,SWZ,,SD,WZ,SWZ,SWZ,SWZ,SZ,...,Eswatini,SWZ,M,Africa,AFR,SV,Lower middle income,WB_LMI,2017.0,2018.0
164,Sweden,1680,SWE,,S,SW,SWE,SWE,SWE,SE,...,Suède,SWE,M,Europe,EUR,SN,High income,WB_HI,2017.0,2018.0
165,Switzerland,1690,CHE,,CH,SZ,CHE,SUI,CHE,CH,...,Suisse,SWI,M,Europe,EUR,SW,High income,WB_HI,2017.0,2018.0
166,Syrian Arab Republic,1700,SYR,,SYR,SY,SYR,SYR,SYR,SY,...,République arabe syrienne,SYR,M,Eastern Mediterranean,EMR,SY,Low income,WB_LI,2017.0,2018.0
167,Tajikistan,1710,TJK,,TJ,TI,TJK,TJK,TJK,TJ,...,Tadjikistan,TJK,M,Europe,EUR,TA,Low income,WB_LI,2017.0,2018.0
168,Thailand,1720,THA,,T,TH,THA,THA,THA,TH,...,Thaïlande,THA,M,South-East Asia,SEAR,TH,Upper middle income,WB_UMI,2017.0,2018.0
169,Republic of North Macedonia,1730,MKD,,MK,MK,MKD,MKD,MKD,MK,...,ex-République yougoslave de Macédoine,MKD,M,Europe,EUR,MJ,Upper middle income,WB_UMI,2017.0,2018.0
170,Timor-Leste,1740,TLS,,,TT,TLS,TLS,TLS,TL,...,Timor-Leste,TLS,M,South-East Asia,SEAR,TM,Lower middle income,WB_LMI,2017.0,2018.0
171,Togo,1750,TGO,,TG,TO,TGO,TOG,TGO,TG,...,Togo,TOG,M,Africa,AFR,TG,Low income,WB_LI,2017.0,2018.0
172,Tonga,1770,TON,,,TN,TON,TGA,TON,TO,...,Tonga,TON,M,Western Pacific,WPR,TO,Upper middle income,WB_UMI,2017.0,2018.0
173,Trinidad and Tobago,1780,TTO,,TT,TD,TTO,TRI,TTO,TT,...,Trinité-et-Tobago,TRT,M,Americas,AMR,TD,High income,WB_HI,2017.0,2018.0
174,Tunisia,1790,TUN,,TN,TS,TUN,TUN,TUN,TN,...,Tunisie,TUN,M,Eastern Mediterranean,EMR,TS,Lower middle income,WB_LMI,2017.0,2018.0
175,Turkey,1800,TUR,,TR,TU,TUR,TUR,TUR,TR,...,Turquie,TUR,M,Europe,EUR,TU,Upper middle income,WB_UMI,2017.0,2018.0
176,Turkmenistan,1810,TKM,,TM,TX,TKM,TKM,TKM,TM,...,Turkménistan,TKM,M,Europe,EUR,TR,Upper middle income,WB_UMI,2017.0,2018.0
177,Tuvalu,1820,TUV,,,TV,TUV,TUV,TUV,TV,...,Tuvalu,TUV,M,Western Pacific,WPR,TV,Upper middle income,WB_UMI,2017.0,2018.0
178,Uganda,1830,UGA,,EAU,UG,UGA,UGA,UGA,UG,...,Ouganda,UGA,M,Africa,AFR,UG,Low income,WB_LI,2017.0,2018.0
179,Ukraine,1840,UKR,,UA,UP,UKR,UKR,UKR,UA,...,Ukraine,UKR,M,Europe,EUR,UR,Lower middle income,WB_LMI,2017.0,2018.0
180,United Arab Emirates,1850,ARE,,,AE,ARE,UAE,ARE,AE,...,Émirats arabes unis,UAE,M,Eastern Mediterranean,EMR,ER,High income,WB_HI,2017.0,2018.0
181,United Kingdom of Great Britain and Northern I...,1860,GBR,,GB,UK,GBR,GBR,GBR,GB,...,Royaume-Uni de Grande-Bretagne et d'Irlande du...,UNK,M,Europe,EUR,UK,High income,WB_HI,2017.0,2018.0
182,United Republic of Tanzania,1870,TZA,,EAT,TZ,TZA,TAN,TZA,TZ,...,République-Unie de Tanzanie,TAN,M,Africa,AFR,TN,Low income,WB_LI,2017.0,2018.0
183,United States of America,1880,USA,,USA,US,USA,USA,USA,US,...,États-Unis d'Amérique,USA,M,Americas,AMR,US,High income,WB_HI,2017.0,2018.0
184,Uruguay,1890,URY,,ROU,UY,URY,URU,URY,UY,...,Uruguay,URU,M,Americas,AMR,UY,High income,WB_HI,2017.0,2018.0
185,Uzbekistan,1900,UZB,,UZ,UZ,UZB,UZB,UZB,UZ,...,Ouzbékistan,UZB,M,Europe,EUR,UZ,Lower middle income,WB_LMI,2017.0,2018.0
186,Vanuatu,1910,VUT,,,NH,VUT,VAN,VUT,VU,...,Vanuatu,VAN,M,Western Pacific,WPR,NV,Lower middle income,WB_LMI,2017.0,2018.0
187,Venezuela (Bolivarian Republic of),1920,VEN,,YV,VE,VEN,VEN,VEN,VE,...,Venezuela (République bolivarienne du),VEN,M,Americas,AMR,VN,Upper middle income,WB_UMI,2017.0,2018.0
188,Viet Nam,1930,VNM,,VN,VM,VNM,VIE,VNM,VN,...,Viet Nam,VTN,M,Western Pacific,WPR,VS,Lower middle income,WB_LMI,2017.0,2018.0
189,Yemen,1940,YEM,,YAR,YM,YEM,YEM,YEM,YE,...,Yémen,YEM,M,Eastern Mediterranean,EMR,YE,Low income,WB_LI,2017.0,2018.0
190,Zambia,1950,ZMB,,Z,ZA,ZMB,ZAM,ZMB,ZM,...,Zambie,ZAM,M,Africa,AFR,ZB,Lower middle income,WB_LMI,2017.0,2018.0
191,Zimbabwe,1960,ZWE,,ZW,ZI,ZWE,ZIM,ZWE,ZW,...,Zimbabwe,ZIM,M,Africa,AFR,ZW,Low income,WB_LI,2017.0,2018.0
192,Montenegro,1140,MNE,,,,MNE,,MNE,,...,Monténégro,,M,Europe,EUR,,Upper middle income,WB_UMI,2017.0,2018.0

#### Join Dataframes

In [111]:
# Combine the data into a single dataset
med_data= pd.merge(fact_df, GHO_df, on="GHO", how="left")
med_data= pd.merge(med_data, COUNTRY_df, on="country_id", how="left")
med_data.head()

,comments,dataset,effective_date,end_date,fact_id,published,year,published_state,country_id,GHO,...,SHORTNAMEFR,WHO,WHOLEGALSTATUS,WHO_REGION,WHO_REGION_CODE,WMO,WORLD_BANK_INCOME_GROUP,WORLD_BANK_INCOME_GROUP_CODE,WORLD_BANK_INCOME_GROUP_GNI_REFERENCE_YEAR,WORLD_BANK_INCOME_GROUP_RELEASE_DATE
0,Includes Specialist Medical Practitioners </br...,CYCU,2019-01-15,2900-12-31,20572456,True,2013.0,PUBLISHED,JAM,HWF_0004,...,Jamaïque,JAM,M,Americas,AMR,JM,Upper middle income,WB_UMI,2017.0,2018.0
1,Includes Generalist Medical Practitioners </br...,CYCU,2019-01-15,2900-12-31,20572206,True,2017.0,PUBLISHED,RWA,HWF_0003,...,Rwanda,RWA,M,Africa,AFR,RW,Low income,WB_LI,2017.0,2018.0
2,Includes Médecin spécialiste</br> Data Source:...,CYCU,2019-01-15,2900-12-31,20572170,True,2011.0,PUBLISHED,CMR,HWF_0004,...,Cameroun,CAE,M,Africa,AFR,CM,Lower middle income,WB_LMI,2017.0,2018.0
3,Includes General Medical Practitioners</br> Da...,CYCU,2019-01-15,2900-12-31,20572086,True,2013.0,PUBLISHED,LKA,HWF_0003,...,Sri Lanka,SRL,M,South-East Asia,SEAR,SB,Lower middle income,WB_LMI,2017.0,2018.0
4,Includes Generalist Medical Practitioners </br...,CYCU,2019-01-15,2900-12-31,20572013,True,2016.0,PUBLISHED,SGP,HWF_0003,...,Singapour,SIN,M,Western Pacific,WPR,SR,High income,WB_HI,2017.0,2018.0

In [112]:
med_data.columns

Index(['comments', 'dataset', 'effective_date', 'end_date', 'fact_id',
       'published', 'year', 'published_state', 'country_id', 'GHO', 'value',
       'numeric', 'low', 'high', 'stderr', 'stddev', 'measurement',
       'display_sequence_x', 'url_x', 'category', 'country',
       'display_sequence_y', 'url_y', 'DS', 'FIPS', 'GEOMETRY', 'IOC', 'ISO',
       'ISO2', 'ITU', 'LAND_AREA_KMSQ_2012', 'LANGUAGES_EN_2012', 'MARC',
       'MORT', 'SHORTNAMEES', 'SHORTNAMEFR', 'WHO', 'WHOLEGALSTATUS',
       'WHO_REGION', 'WHO_REGION_CODE', 'WMO', 'WORLD_BANK_INCOME_GROUP',
       'WORLD_BANK_INCOME_GROUP_CODE',
       'WORLD_BANK_INCOME_GROUP_GNI_REFERENCE_YEAR',
       'WORLD_BANK_INCOME_GROUP_RELEASE_DATE'],
      dtype='object')

In [113]:
# Drop unwanted columns
meddata_df = med_data.drop(['comments','dataset', 'effective_date', 'end_date', 'fact_id',
       'published', 'published_state', 'country_id','GHO',
       'numeric', 'low', 'high', 'stderr', 'stddev',
       'display_sequence_x', 'url_x', 'category', 'display_sequence_y', 'url_y', 
       'FIPS', 'IOC', 'ISO',
       'LANGUAGES_EN_2012', 'SHORTNAMEES', 'WHOLEGALSTATUS', 'MORT',
       'SHORTNAMEFR', 'ITU', 'WHO_REGION_CODE', 'ISO2', 'WHO',
       'GEOMETRY', 'DS',
       'WORLD_BANK_INCOME_GROUP_GNI_REFERENCE_YEAR',
       'WORLD_BANK_INCOME_GROUP_RELEASE_DATE', 'WORLD_BANK_INCOME_GROUP_CODE',
       'MARC', 'WMO'], axis=1)

# rename columns
meddata_df = meddata_df.rename(columns={"LAND_AREA_KMSQ_2012":"land_area_(kmsq)"})
meddata_df = meddata_df.rename(columns={"WHO_REGION":"region"})
meddata_df = meddata_df.rename(columns={"WORLD_BANK_INCOME_GROUP":"income_group"})

# reorder columns
meddata_df = meddata_df[['measurement', 'region','country', 'year', 'value','income_group','land_area_(kmsq)']]

In [114]:
meddata_df.head(10)

,measurement,region,country,year,value,income_group,land_area_(kmsq)
0,Specialist medical practitioners (number),Americas,Jamaica,2013.0,293.0,Upper middle income,"10,830"
1,Generalist medical practitioners (number),Africa,Rwanda,2017.0,1114.0,Low income,"24,670"
2,Specialist medical practitioners (number),Africa,Cameroon,2011.0,422.0,Lower middle income,"472,710"
3,Generalist medical practitioners (number),South-East Asia,Sri Lanka,2013.0,17237.0,Lower middle income,"62,710"
4,Generalist medical practitioners (number),Western Pacific,Singapore,2016.0,7920.0,High income,700
5,Generalist medical practitioners (number),South-East Asia,Sri Lanka,2016.0,20000.0,Lower middle income,"62,710"
6,Specialist medical practitioners (number),Americas,Suriname,2009.0,114.0,Upper middle income,"156,000"
7,Specialist medical practitioners (number),Americas,Jamaica,2012.0,280.0,Upper middle income,"10,830"
8,Generalist medical practitioners (number),Western Pacific,Lao People's Democratic Republic,2010.0,4880.0,Lower middle income,"230,800"
9,Specialist medical practitioners (number),Americas,Mexico,2010.0,54273.0,Upper middle income,"1,943,950"

### DATA SET 4: Health Infrastructure Data by Country - JSON

https://apps.who.int/gho/athena/data/GHO/DEVICES00,DEVICES01,DEVICES02,DEVICES03,DEVICES04,DEVICES05.json?profile=simple&filter=COUNTRY:*;REGION:*

In [115]:
# convert the jason file to a python dictionary

infr_file = "WHO_Health_Infrastructure.json"
with open(infr_file,"r") as f:
    infr_json = json.load(f)

In [116]:
# create a data frame from a dictionary from within the python dictionary

infr_df = pd.DataFrame(infr_json["fact"])
infr_df.head()

,Comments,Value,dims
0,Only public sector data,2.95,"{'COUNTRY': 'Afghanistan', 'YEAR': '2013', 'GH..."
1,Only public sector data,1.22,"{'COUNTRY': 'Afghanistan', 'YEAR': '2013', 'GH..."
2,Only public sector data,0.18,"{'COUNTRY': 'Afghanistan', 'YEAR': '2013', 'GH..."
3,Only public sector data,0.10,"{'COUNTRY': 'Afghanistan', 'YEAR': '2013', 'GH..."
4,Only public sector data,0.09,"{'COUNTRY': 'Afghanistan', 'YEAR': '2013', 'GH..."

In [117]:
infr_df["dims"][0]

{'COUNTRY': 'Afghanistan',
 'YEAR': '2013',
 'GHO': 'Total density per 100 000 population: Health posts'}

In [118]:
# append the items in the dictionary from the "dims" column into columns in the infrastructure dataframe

infr_df["YEAR"] = np.nan
infr_df["COUNTRY"] = ""
infr_df["GHO"] = ""

for index,row in infr_df.iterrows():
    dimension = row["dims"]
    for x in ["YEAR","COUNTRY","GHO"]:
        infr_df.at[index,x] = dimension[x]

infr_df.head()

,Comments,Value,dims,YEAR,COUNTRY,GHO
0,Only public sector data,2.95,"{'COUNTRY': 'Afghanistan', 'YEAR': '2013', 'GH...",2013.0,Afghanistan,Total density per 100 000 population: Health p...
1,Only public sector data,1.22,"{'COUNTRY': 'Afghanistan', 'YEAR': '2013', 'GH...",2013.0,Afghanistan,Total density per 100 000 population: Health c...
2,Only public sector data,0.18,"{'COUNTRY': 'Afghanistan', 'YEAR': '2013', 'GH...",2013.0,Afghanistan,Total density per 100 000 population: District...
3,Only public sector data,0.10,"{'COUNTRY': 'Afghanistan', 'YEAR': '2013', 'GH...",2013.0,Afghanistan,Total density per 100 000 population: Provinci...
4,Only public sector data,0.09,"{'COUNTRY': 'Afghanistan', 'YEAR': '2013', 'GH...",2013.0,Afghanistan,Total density per 100 000 population: Speciali...

In [119]:
# Drop unwanted columns
hinfr_df = infr_df.drop(['dims','Comments'], axis=1)

# rename columns
hinfr_df = hinfr_df.rename(columns={"GHO":"measurement"})
hinfr_df = hinfr_df.rename(columns={"COUNTRY":"country"})
hinfr_df = hinfr_df.rename(columns={"Value":"value"})
hinfr_df = hinfr_df.rename(columns={"YEAR":"year"})

# reorder columns
hinfr_df = hinfr_df[['measurement', 'country', 'year', 'value']]

hinfr_df.head()

,measurement,country,year,value
0,Total density per 100 000 population: Health p...,Afghanistan,2013.0,2.95
1,Total density per 100 000 population: Health c...,Afghanistan,2013.0,1.22
2,Total density per 100 000 population: District...,Afghanistan,2013.0,0.18
3,Total density per 100 000 population: Provinci...,Afghanistan,2013.0,0.10
4,Total density per 100 000 population: Speciali...,Afghanistan,2013.0,0.09

## Load

in Terminal:


pip instal mysqlclient

In [120]:
# Import key
from SQL_Key import mySQLWorkbench_key
import MySQLdb

In [137]:
# connect to a local database
engine = create_engine(f'mysql://root:{mySQLWorkbench_key}@localhost:3306/health_db')

In [65]:
# Check for tables

In [139]:
engine.table_names()

[]

In [ ]:
# Use pandas to load csv and Json converted DataFrame into database

In [140]:
GDP_df.to_sql(name='GDP_Spend_on_Health', con=engine, if_exists='replace', index=False)

In [141]:
water_df.to_sql(name='Water_Sanitation', con=engine, if_exists='replace', index=False)

In [142]:
meddata_df.to_sql(name='Health_Practitioners', con=engine, if_exists='replace', index=False)

In [143]:
hinfr_df.to_sql(name='Health_Infrastructure', con=engine, if_exists='replace', index=False)

In [ ]:
# Confirm data has been added by querying the tables

In [144]:
pd.read_sql_query('select * from GDP_Spend_on_Health', con=engine).head()

                                         measurement      country   year value
0  Current health expenditure (CHE) as percentage...  Afghanistan   2015  10.3
1  Current health expenditure (CHE) as percentage...      Albania   2015   6.8
2  Current health expenditure (CHE) as percentage...      Algeria   2015   7.1
3  Current health expenditure (CHE) as percentage...      Andorra   2015  12.0
4  Current health expenditure (CHE) as percentage...       Angola   2015   2.9

In [145]:
pd.read_sql_query('select * from Water_Sanitation', con=engine).head()

,measurement,country,year,value,type
0,Population using at least basic drinking-wate...,Afghanistan,2015,53,Rural
1,Population using at least basic drinking-wate...,Albania,2015,90,Rural
2,Population using at least basic drinking-wate...,Algeria,2015,89,Rural
3,Population using at least basic drinking-wate...,Andorra,2015,100,Rural
4,Population using at least basic drinking-wate...,Angola,2015,23,Rural

In [146]:
pd.read_sql_query('select * from Health_Practitioners', con=engine).head()

,measurement,region,country,year,value,income_group,land_area_(kmsq)
0,Specialist medical practitioners (number),Americas,Jamaica,2013.0,293.0,Upper middle income,"10,830"
1,Generalist medical practitioners (number),Africa,Rwanda,2017.0,1114.0,Low income,"24,670"
2,Specialist medical practitioners (number),Africa,Cameroon,2011.0,422.0,Lower middle income,"472,710"
3,Generalist medical practitioners (number),South-East Asia,Sri Lanka,2013.0,17237.0,Lower middle income,"62,710"
4,Generalist medical practitioners (number),Western Pacific,Singapore,2016.0,7920.0,High income,700

In [147]:
pd.read_sql_query('select * from Health_Infrastructure', con=engine).head()

,measurement,country,year,value
0,Total density per 100 000 population: Health p...,Afghanistan,2013.0,2.95
1,Total density per 100 000 population: Health c...,Afghanistan,2013.0,1.22
2,Total density per 100 000 population: District...,Afghanistan,2013.0,0.18
3,Total density per 100 000 population: Provinci...,Afghanistan,2013.0,0.10
4,Total density per 100 000 population: Speciali...,Afghanistan,2013.0,0.09